<div class="h-screen flex justify-center items-center">
  <div class="text-center">
    <h1 class="text-6xl">To Do list app</h1>
    <br/>
    <p class="text-3xl">Manage your To Dd List and have a better life for everything!!</p>
  </div>
</div>
